.table{
    margin-top: 20px;
    background-color: #192841;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    width: 90%;
}
.header{
    background-color: #0e808f;
    
}